<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>HELLO WORLD</H1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor eveniet, suscipit adipisci accusamus quis, quos excepturi necessitatibus at repudiandae nisi expedita illum quia distinctio esse debitis velit dolorem perferendis!</p>
    <a href="/page1">page1</a>
</body>
</html>